.pytest_cache
__pycache__
.env
venv/*
.idea/*
.DS_Store
test.db
news_database.db
backend/tests/integration/log/pricetracker.err
backend/tests/integration/log/pricetracker.log
backend/log/pricetracker.err
backend/log/pricetracker.log
